.login{
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
}
.login_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.login_form{
    position: relative;
    margin-inline: 1.5rem;
    text-align: center;
    border: 2px solid white;
    color: var(--white--clolor);
    border-radius: 8px;
    backdrop-filter: blur(10px);

}
input[type=email],
input[type=password]{
    width: 50%;
    padding: 8px;
    border: 2px solid white;
    border-radius: 20px;
    color: var(--white--clolor);
    padding-block: 1rem;
    backdrop-filter: blur(10px);
}
.login_check_input,
.login_check_label{
    text-align: left;
}